include  ../elements/_ui-tabs-classic

section.section.section-98.section-bottom-66.section-sm-65.offset-top-120
    .container
        h2.font-weight-bold Available applications
        hr.divider
        .offset-lg-top-66
            +tabs-classic(['Applications', 'Under Development'])
                div.text-center.text-lg-left
                    .row.justify-content-sm-center.section-34
                        .col-lg-3
                            img.img-fluid.d-inline-block(src="/images/apps/mdcm-270x270.jpg" width="270", height="270")
                            .text-lg-left.offset-top-20
                                div
                                    h5.font-weight-bold.text-primary
                                        a(href="#") MDCM Portal
                        .col-lg-3
                            img.img-fluid.d-inline-block(src="/images/apps/mdcm-270x270.jpg" width="270", height="270")
                            .text-lg-left.offset-top-20
                                div
                                    h5.font-weight-bold.text-primary
                                        a(href="#") ABCD Portal
                div.text-center.text-lg-left
                    .row.justify-content-sm-center.section-34
                        .col-lg-3
                            img.img-fluid.d-inline-block(src="/images/apps/mdcm-270x270.jpg" width="270", height="270")
                            .text-lg-left.offset-top-20
                                div
                                    h5.font-weight-bold.text-primary
                                        a(href="#") XYZ Portal