section.offset-top-120
    .container
        h2 Benefits of QA Flix
        h5.text-dark.text-regular Do you need an environment for your ad-hoc scientific calculations? Without the need to install anything. With your data sources available. The QA FLix provides you with all of this.
        .row.row-45.justify-content-sm-center
            .col-lg-4
                span.icon.icon-lg.icon-primary.icon-circle.mdi.mdi-airplane
                h4 Super fast
                p Your environment is usually fully set-up within a few seconds from clicking the button.
            .col-lg-4
                span.icon.icon-lg.icon-primary.icon-circle.mdi.mdi-close-box
                h4 Isolated environment
                p QA Flix is based on Docker containers. Your session always runs only within a container and cannot interfere with other sessions.
            .col-lg-4
                span.icon.icon-lg.icon-primary.icon-circle.mdi.mdi-internet-explorer
                h4 No installations
                p You do not need to install anything, you only need your browser.
            .col-lg-4
                span.icon.icon-lg.icon-primary.icon-circle.mdi.mdi-database
                h4 Access to your data
                p QA Flix provides access to many data sources, which you are allowed to use, out of the box. And if any data source is missing, do not hesitate to ask us.
            .col-lg-4
                span.icon.icon-lg.icon-primary.icon-circle.mdi.mdi-security
                h4 Secure
                p This product is integrated with the corporate Active Directory and all permissions are driven by AD group memberships.
            .col-lg-4
                span.icon.icon-lg.icon-primary.icon-circle.mdi.mdi-emoticon-happy
                h4 Actively supported
                p We keep on improving the tool. We will be grateful for your feedback or feature requests.