footer.section.offset-top-165.section-relative.section-50.section-lg-bottom-34.bg-gray-base.context-dark
    .container
        .row.justify-content-md-center.text-lg-left
            .col-lg-4
                a(href="/")
                    img.img-fluid.d-inline-block(src="/images/logo-light-1000x500.png" width="197" height="52" style="margin-top: -10px;")
            .col-lg-4
                h6.text-uppercase.text-spacing-60.font-weight-bold Latest updates
                .updates
                    article.text-left.text-primary.widget-post
                        a(href="#")
                            .unit.flex-row.unit-spacing.xs.align-items-center
                                .unit-body
                                    .post-meta
                                        span.icon-xxs.mdi.mdi-arrow-right
                                        time 10 Oct 2020
                                    .post-title
                                        h6.text-regular Added support for ....
            .col-lg-4
                h6.text-uppercase.text-spacing-60.font-weight-bold Support
                a(href="mailto:abcd@xyz.com")
                    p.text-regular QA Support QA Flix

    .container.offset-top-120
        p.small.text-darker QA Central © 2020