header.section
    div
        nav(style="display: block; position: relative; z-index: 9999; text-align: left;")
            .navbar-inner(style="transition: 0.3s all ease; padding: 20px 60px 20px 60px; position: relative; text-align: left;")
                .navbar-panel
                    .navbar-logo(style="float: left;")
                        a(href="/")
                            img(width="150" src="images/logo-light-1000x500.png" style="vertical-align: baseline;")
                .navbar-menu(style="float: right;")
                    .navbar-nav(style="margin-top: 8px; display: inline-block;")
                        ul(style="list-style-type: none; ,margin-bottom: 0")
                            li.active(style="float: left; position: relative;")
                                a(href="/applications", style="position: relative; display: inline-block; vertical-align: middle; text-transform: uppercase;") My Applications
                            li(style="float: left; position: relative; margin-left: 22px;")
                                a(href="#", style="position: relative; display: inline-block; vertical-align: middle; text-transform: uppercase;") Reports
                            li(style="float: left; position: relative; margin-left: 22px;")
                                a.btn.btn-primary.btn-sm.btn-icon.btn-icon-left(href="/login" style="font-size: 12px; padding: 7px 12px; line-height: 12px;") Login
                                    span.icon.mdi.mdi-account(style="font-size: 12px; line-height: 12px; padding-right: 8px;")
