section.section.section-98.offset-top-140
    .container
        h2.font-weight-bold Running applications
        hr.divider
        .offset-lg-top-66
            .table-responsive.clearfix
                table.table.table-striped
                    tbody
                        tr
                            th
                            th.text-regular.text-dark.big Application name
                            th.text-regular.text-dark.big URL
                            th.text-regular.text-dark.big Started at
                            th.text-regular.text-dark.big Status
                            th.text-regular.text-dark.big Expires in
                            th.text-regular.text-dark.big Actions
                        tr
                            th
                                span.icon.icon-xxs.mdi.mdi-alert-circle.text-danger
                            td Testing Jupyter
                            td Open in new tab
                            td Today at 13:54
                            td RUNNING
                            td 2:54:30
                            td
                                a.btn.btn-success.btn-sm.btn-icon.btn-icon-left(style="width: 150px;") Renew
                                    span.icon.mdi.mdi-fast-forward
                        tr
                            th
                                span.icon.icon-xxs.mdi.mdi-play.text-success
                            td Testing Jupyter
                            td Open in new tab
                            td Today at 13:54
                            td RUNNING
                            td 2:54:30
                            td
                                a.btn.btn-danger.btn-sm.btn-icon.btn-icon-left(style="width: 150px;") Stop
                                    span.icon.mdi.mdi-fast-forward
