extends layout

block title
    title QA Flix

block page
    include ./sections/_header
    include ./sections/_running-applications
    include ./sections/_available-applications
    include ./sections/_footer