doctype html
html
  head
    block title

    meta(charset="utf-8")
    meta(name="format-detection" content="telephone=no")
    meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")

    link(rel="icon" href="images/favicon.ico" type="image/x-icon")
    link(rel="stylesheet" type="text/css" href='/fonts/google/cabin.css')
    link(rel='stylesheet', href='/css/style.css')

  body
    div.page.text-center
      block page

    script(src="js/core.min.js")
    script(src="js/script.js")