extends layout

block title
  title QA Flix

block page
  section.section.one-page.bg-shark-radio
    include ./sections/_login
    .one-page-footer
      p.small(style="color: rgba(255,255,255, 0.3)") QA Central
